<article class="post-entry">
  <header class="post-header">
    <h3 class="post-title" dir="{{ .Site.Params.direction }}"><a href="{{ .Permalink }}" class="post-link">{{ .Title }}</a></h3>
  </header>
  {{ if isset .Params "cover" }}
    <img class="post-cover" src="{{ .Params.cover }}" alt="{{ .Title }}" lazyload="on">
  {{ end }}
  <p class="post-summary">{{ .Summary | plainify | htmlUnescape }}</p>
  <footer class="post-footer">
      <span class="post-meta">
          <!-- Show Author in list of Posts -->
          @{{ if isset .Params "author" }}
            {{ .Params.author }}
          {{ else }}
            {{ .Site.Params.author }}
          {{ end }}       
          
          <!-- Show Date in list of Posts -->
          · {{if eq .Site.Params.lang "en"}}
              {{ .Date.Format "Jan 2, 2006" }}
            {{ else }}        
              <span class="post_date">{{ .Date.Format "2006-01-02" }}</span>         
            {{end}}
          
          <!-- Show Reading Time -->
          · {{ .ReadingTime }} {{ T "reading-time" }}
      </span>
      <span>
        <a class="read-more" href="{{ .Permalink }}">{{ T "readmore" }}</a>
      </span>
  </footer>
</article>
